
    <div class="row">
      <div class="col1">
       
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <h1>
        SB Admin
      </h1>
      <!-- Sidebar - Brand -->
      <li class="nav-item active">
        <button class="btn btn-secondary">
        <a class="nav-link" href="index.html" routerLink="products">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Products</span></a>
          </button>
      </li>
    
    
    <br>
    
      <li class="nav-item">
    
        <button class="btn btn-secondary">    
          <a class="nav-link collapsed" routerLink="register" href="#">
     
          <span>Register</span>
        </a>
        </button>
       </li>
    
    <br>
      <li class="nav-item">
        <button class="btn btn-secondary">
        <a class="nav-link collapsed" href="#" routerLink = 'login'>        
          <span>login</span>
        </a>
        </button>
        </li>
    
      <br>

      <li class="nav-item">
        <button class="btn btn-secondary">
        <a class="nav-link collapsed" href="#" routerLink = 'createproduct'>        
          <span>create product</span>
        </a>
        </button>
        </li>
    
      <br>
    
    </ul>
  
</div>
<div class="col2">
<router-outlet>

</router-outlet>
</div>
</div>
