
<div class="wrapper fadeInDown" style="text-align: center;">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpwnpeoJ3ertHd3vcwmiJBc-_W1UUYozw6vQ&usqp=CAU" id="icon" alt="User Icon" />
      </div>
  
      <!-- Register Form -->
      <form>
        <input type="text" id="login" class="fadeIn first" name="login" placeholder="Your Name">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="text" id="password" class="fadeIn fourth" name="login" placeholder="confirm password">
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
  

  
    </div>
  </div>